.dropdown:hover .dropdown-menu {
    display: block;
}

.footer {
    float: right;
    position: fixed;
    bottom: 0;
}


/* .center {
    text-align: center;
    vertical-align: top;
} */


/* body {
    color: red;
} */